/* remove bottom app bar home and trending */
.pivot-w2w, .pivot-trending, .pivot-explore{
    display: none!important;

}

/* increase width app bar buttons */
.pivot-subs{
width: 50%;
    position: absolute;
    left: 0;
    padding-top: 5px;
}
.pivot-library{
    width: 50%;
    position: absolute;
    left: 50%;
    padding-top: 5px;
}

/* hide home feed */
div[tab-identifier="FEwhat_to_watch"] {
    display: none!important;
}


/* hide featured feed */
ytm-item-section-renderer[data-content-type="related"] {
    display: none!important;
}


/* dark theme */

body, html, div, h1, h2, h3, .mobile-topbar-header, ytm-pivot-bar-renderer[role="tablist"] , .engagement-panel-section-list-header, ytm-section-list-renderer, ytm-channel-list-sub-menu-renderer{
    color: white !important;
    background-color: black!important;
}

/* fix over dark */
#player-control-overlay, .player-controls-background, #player-container-id, #player, .player-controls-top, .player-controls-middle, .player-controls-bottom, .progress-bar-line {
    background-color:transparent!important;
}

.secondary-text {
    color: #e5e5e5!important;
}

ytm-pivot-bar-renderer c3-icon,  ytm-pivot-bar-item-renderer .pivot-bar-item-tab[aria-selected="true"] .pivot-bar-item-title {
    color: #fff!important;
}

#home-icon,
.mobile-topbar-header-content,
input,
.title,
.mobile-topbar-back-arrow,
.slim-video-metadata-info,
.slim-video-metadata-actions,
ytm-comments-entry-point-header-renderer h2 strong,
ytm-comments-entry-point-header-renderer h2,
.comment-simplebox-placeholder,
.compact-link-icon{
    color: #fff!important;
}

/* fix login */
input[type="email"], input[type="password"] {
    color: #000!important;
}

/* remove full screen icon */
.fullscreen-icon {
    opacity: 0;
}

/* change progress bar color */
.thumbnail-overlay-resume-playback-progress, .progress-bar-played, .progress-bar-playhead-dot {
    background-color: blue!important;
}

.progress-bar-background  {
    background-color: white!important;
}

.progress-bar-loaded {
    background-color: red!important;
}

.progress-bar-playhead, .progress-bar-playhead-wrapper
{
    background-color: transparent !important;
}